@charset "UTF-8";

// ========== 基础样式重置 ========== //

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--bg-page, #f0f2f5);
  color: #333;
  font-size: 14px;
  font-family: "Microsoft YaHei", "SF Pro Display", Roboto, Noto, Arial, "PingFang SC", sans-serif;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
